
html {
font-size: 18px;
font-family: Helvetica;
}

.logo {
  height: 1.5rem;
  padding-right: 1rem;
  padding-top: 0.66rem;
  text-align: left;

}

.titre {
  padding-bottom: 0.66rem;
  margin-top: 0.66rem;
  margin-bottom: 0.66rem;
  padding-bottom: 0;
  font-size: 1rem;
}


header {
color: white;
width: 100%;
background-color: black;
display: flex;
align-content: center;
justify-content: center;
margin-right: 36.5rem;
}

.image-display {
  background-image: url("../images/moto.jpeg");
  height: 25rem;
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.text-display {
  background-color: black;
  margin-top: 9rem;
  height: 9rem;
  width: 20rem;
  width: 460px;
  font-family: Helvetica;
  font-size: 1rem;
  font-weight: bold;
  margin-right: 28rem;

}

h1, h2, h3 {
  color: white;
}

.text1 {
  padding-top: 2rem;
  padding-left: 3rem;
}

.text2 {
  padding-left: 3rem;
  padding-top: 0.25rem;
  font-size: 2rem;
}


nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: firebrick;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  width: 100%;
}

.nav-items ul {
width: 960px;
color: white;
display: flex;
justify-content: space-between;

}

.flex-container {
  display: flex;
  width: 960px;
  justify-content: space-between;
  margin: auto;
  margin-top: 3rem;
}

.image-text {
  background-color: black;
  text-align: center;
  padding: 0.5rem 0 0.5rem 0;
}

.block {
  border: 4px solid black;
}

.tea {
  height: 9rem;
  padding: 2rem 3rem 2rem 3rem;
}

.lunette {
  height: 4.5rem;
  }

.text-glasses {
  margin-top: 4.5rem;
}

.content {
  display: flex;
  width: 960px;
  justify-content: space-between;
  margin: auto;
}

.content-text {
  background-color: black;
  color: white;
  padding: 1rem 0 1rem 2rem;
  width: 35%;
  margin-top: 3rem;
}

.hours {
  margin-left: 12rem;
}

.content2 {
  display: flex;
  width: 960px;
  justify-content: space-between;
  margin: auto;
}

span {
  margin-right: 15rem;
}

footer {
  background-color: black;
  color: white;
  width: 100%;
  height: 5rem;
margin-top: 4rem;
display: flex;
justify-content: center;
align-items: center;

}

.copyright {
  width: 960px;
}
